@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DM Sans', sans-serif;
  color: #fff;
}

body{
  background-image: url("./assets/hero_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #040612;
}

a{
  text-decoration: none;
}